*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $font-line-height-base;
  font-weight: $font-regular;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-text-primary;
  background-color: $color-bg-page;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

#app {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 2rem;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  margin-bottom: $space-xl;
}